
#cover {
    height: 30 vh;
    background-image: url("img/DataInquiriesLogo.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 30px 10px;
    text-transform: capitalize;
}


#cover .post-title {
    font-size: 160px;
    font-family: "garamond", "times", serif;
    font-weight: bold;
}

ul {
	margin-bottom: 10px;
}