
#cover {
    height: 30 vh;
    background-image: url("img/DataInquiriesLogo.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 30px 10px;
    text-transform: capitalize;
}


#cover .post-title, h1 {
    font-size: 120px;
    font-family: "garamond", "times", serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
    margin-bottom: 18px;
    margin-top: 18px;
}

li {
	margin-bottom: 5px;
	margin-top: 5px;
}

h1 {
	font-size: 40px;
}

h1, h2 {
	margin-top: 30px;
}

hr {
	display: hidden;
}