
#cover {
    height: 30 vh;
    background-image: url("img/DataInquiriesLogo.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 30px 10px;
    text-transform: capitalize;
}


#cover .post-title {
    font-size: 120px;
    font-family: "garamond", "times", serif;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
    margin-bottom: 30px;
}

ul, p, li {
	margin-bottom: 10px;
}

h1 {
	margin-top: 20px;
}